/* VerticalProgressBar.css */
.head-text h4{
  text-align: end;
  font-size:20px;
  


}
.progress-container {
 
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  width: 0px;
}

.station-label {
  position: relative;
  text-align: center;
  margin: 10px 0;
  margin-top: 10px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 400px; /* Adjust based on your layout */

  border-radius: 10px;
  padding: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  transition: background 0.5s ease;
}

.completed .circle {
  background-color: #76c7c0; /* Completed step color */
}

.line {
  width: 2px;
  height: 60px; /* Adjust based on the gap between steps */
  background-color: #e0e0e0;
  transition: background-color 0.5s ease;
}

.completed .line {
  background-color: #76c7c0; /* Completed line color */
}
